
\.vs/

\.idea/

packages/

GevorderdProgrammerenPracticumWeek5\.Tests/obj/

GevorderdProgrammerenPracticumWeek5\.Tests/bin/

GevorderdProgrammerenPracticumWeek5/obj/

GevorderdProgrammerenPracticumWeek5/bin/
